p{
    background-color: beige;
    padding: 10px 10px 10px 10px;
    margin: 30px 30px 30px 30px;
border-radius: 10px ridge;
}
 .this{

    font-size:10px;
    background-color:bisque;
}
header{
    /* font-size:60px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(fff.jgp.png);
    font-size: 100px;

}
img{
    width: 55px;
    height: 50px;
}
.ttt{
    color: 30px red;
    text-align: justify;
}
input[type =password]{
    font-size: 50px;
    border-color: red;
    color:blueviolet;
}