*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans';
}
body {

    background-color: #F1F1F3;
}
.container{
    width: 90%;
    margin: auto;
}
header{
    padding: 10px 0;
    margin: 10px 0;
}
nav .btn{
color: #006A50;

box-sizing: border-box;
text-decoration: none;
padding: 10px 20px;
text-transform: capitalize;

border: 1px solid #006A50;
border-radius: 8px;


}
nav{
    display: flex;
    justify-content: space-between;
}
.wraper .left p{

font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: rgba(14, 14, 14, 0.5);


}
.wraper .img{
    flex: 1 0 40%;
    padding-right: 20px;
}
.wraper .left{
    flex: 1 0 60%;
}
.wraper .left h1{
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 57px;

color: #0E0E0E;
margin: 20px 0;

}
.wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img img{
    width: 100%;
}
.hero-section{
    background-color: #C6E4D6;
    padding: 25px;
    border-radius: 15px;
}
.button{

padding: 17px 30px;
background: #006A50;
border-radius: 8px;
color: white;
text-decoration: none;
/* margin-top: 30px; */
display: inline-block;

}
.warper2{
    margin-top: 30px;
    

width: 1280px;
height: 48px;

flex: none;


    
    
}
.boxwraper .box{
    flex: 1;
    background: #FFFFFF;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 15px;
}
.boxwraper{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;


box-sizing: border-box;


display: flex;
align-items: flex-start;
font-weight: 100px;



}

.boxwraper .box{
padding: inline 10px; 



}
.hero-section4{
    margin: 50px 0;
}
   


/* align-items: center;
padding: 0px;



} */
 .naser .box2:nth-child(1){
        background: rgba(84, 144, 245, 0.2);
 }
 .naser .box2:nth-child(2){
        background: #C6E4D6;
 }
 .naser .box2:nth-child(3){
        background: #F7EBCF;
 }
 .naser .box2:nth-child(1) .style{
        background: #5490F5;
 }
 .naser .box2:nth-child(2) .style{
        background: #09A15C;
 }
 .naser .box2:nth-child(3) .style{
        background: #FFC239;
 }
 .naser .box2 .style{
    padding: 10px 20px;
 }
 .naser .box2 h5{
    font-family: 'Fira Sans';
 }
 .naser .box2 p{
    margin: 14px 0;
 }
 .naser .box2{
    border-radius: 16px;
    padding: 15px;
 }
 .naser{
margin: 20px 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;

 }

.my15{
    margin: 35px 0;
}
.title{
    margin-bottom: 20px;
}
.ttt{
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    /* padding: 20px 0; */
}

.quation .ttt p{
    padding-top: 27px;
}
.quation{

    padding: 48px 24px;
    background: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.mt20{
    margin-top: 20px;
}

.opsContainer .flexItem .left{
    padding: 15px;
    flex: 1;

}
.opsContainer .flexItem.top{
    background-color: #C6E4D6;
}
.opsContainer .flexItem.top .right{
    border: none;
}
.opsContainer .flexItem .right{
    padding: 15px;
    border-left: 1px solid #0e0e0e5c;
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opsContainer .flexItem .right select{
    padding: 9px;
    background-color: #C6E4D6;
    border-radius: 5px;
}
.opsContainer .flexItem{
    display: flex;
    border: 1px solid #0e0e0e5c;
    align-items: center;
    justify-content: space-between;
}
.opsContainer .flexItem:not(:last-child){

    border-bottom: none;
}
.opsContainer{
    background: #FFFFFF;
    border-radius: 16px;
    padding: 30px;
}

.ops h5{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 50px 0 20px;
}
.news{
    display: flex;
    justify-content: space-between;
}
.micro{
    margin-top: 40px;
}
.micro h5{
    margin-top: 20px;
    padding: 10px;
}  
.micro p{
margin: 20px 0 15px;
font-size: 16px;
color: rgba(14, 14, 14, 0.7);

}
.news .left{
    display:flex;
    border-radius: solid 10px;
    padding: 15px;
    justify-content: space-between;
    font-size: 24px;
}


.news .thh{
    border-radius: 24px;
    
}
.news .right{
    /* display:flex; */
    /* border-radius: solid 10px; */
    /* padding: 15px; */
    justify-content: space-between;
    font-size: 24px;
}

.news{
    background: #FFFFFF;
    border-radius: 16px;
    padding: 20px;
    margin: 40px 0;
}
.text-center{
    text-align: center;
}
.w-50{
    width: 50%;
    margin: auto;
}

.dflex .item:hover{
    background-color: #C6E4D6;
}
.dflex .item{
    transition: all 0.5s ease;
    background-color: #fff;
    max-width: 240px;
    flex: 1 0 25%;
    padding: 20px ;
    border-radius: 5px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}
.dflex{
    margin: 20px 0;
    gap: 20px;
    display: flex;
    justify-content:center;
}
.donate input{
    width: 70%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
.donate h2{
    margin-top: 70px;
    margin-bottom: 20px;
}

p{
    color: rgba(14, 14, 14, 0.5);
}
.Subscribe p{
    margin: 16px 0;
}
.Subscribe{
    background-color: #C6E4D6;
    margin: 50px 0;
    padding: 80px 25%;
    border-radius: 20px;
    text-align: center;
}
.w-50{
    width: 50%;
    margin: auto;
}
.dflex1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dflex1 input{
    width: 80%;
    flex: 1 0 80%;
    background-color: #fff;
    padding: 10px 10px ;
    outline: none !important;
    border: 1px solid #eee;
    border-radius: 5px 0 0 5px;
    height: 56px;
}
.dflex1 button{
    width: 20%;
    flex: 1 0 20%;
    height: 56px;
    border-radius: 0 5px 5px 0;
}